
// Animation


$animate-duration: 200ms;

.navbar {
  @include transition(opacity $animate-duration, transform ($animate-duration / 2));
}

[data-state="home"] .navbar {
  opacity: 0;
  transform: translateY(-100%);
  z-index: 1;
}

.ng-enter,
.ng-leave {
  @include transition(opacity $animate-duration ease);
}

.ng-enter,
.ng-leave.ng-leave-active {
  opacity: 0;
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
}

.ng-leave section {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
