@import "foundation.scss";
@import "mixins.scss";

$anchor-padding: 1em 0;

$anchor-background: $body-bg;

$anchor-transition-duration: 500ms;
$anchor-transition:
  color $anchor-transition-duration,
  background-color $anchor-transition-duration;

$anchor-color-hover: $body-bg;
$anchor-background-hover: $body-font-color;

$anchor-color-active: $body-bg;
$anchor-background-active: $body-font-color;

$anchor-transition-duration-active: 200ms;
$anchor-transition-active: color $anchor-transition-duration, background-color $anchor-transition-duration-active;
