@import "foundation.scss";
@import "mixins.scss";

$anchor-padding: 1em 0;

$anchor-background: $white;

$anchor-transition-duration: 500ms;
$anchor-transition:
  color $anchor-transition-duration,
  background-color $anchor-transition-duration;

$anchor-background-hover: $black;

$anchor-color-active: $black;
$anchor-background-active: $white;
$anchor-transition-duration-active: 200ms;
$anchor-transition-active: color $anchor-transition-duration, background-color $anchor-transition-duration-active;
