@import "../common/settings";
// @import "../common/animate";

body {
  overflow-y: scroll;
}

section {
  padding-top: 50px;
}

.home .top-bar {
  opacity: 0;
  z-index: 1;
}

a {
  @include transition($anchor-transition);
  background: $anchor-background;
  padding: $anchor-padding;

  &:hover, &:focus {
    background: $anchor-background-hover;
  }

  &:active {
    @include transition($anchor-transition-active);
    color: $anchor-color-active;
    background: $anchor-background-active;
  }
}

.top-bar a {
  background: transparent;
}

p {
  text-align: justify;
}

figure {
  display: block;
  margin: 0;
}

figure img {
  display: block;
}

.list-inline-centered {
  display: table;
  table-layout: fixed;
  width: 100%;

  > * {
    display: table-cell;
    text-align: center;
    width: 100%;
  }
}

.title {
  margin-top: rem-calc(2 * $line-height);
  margin-bottom: rem-calc($line-height);
}

.timeline-body p {
  text-align: left;
}

#assets {
  display: none;
}

.navbar {
  a {
    white-space: nowrap;
    .icon {
      display: inline-block;
      margin-right: 0.5em;
      fill: #fff;
      position: relative;
      top: .4em;
      height: 20px;
    }
  }
}
