@import "../common/settings";
// @import "../common/animate";
@import "../common/animate-fade";

body {
  overflow-y: scroll;
}

a {
  @include transition($anchor-transition);
  background: $anchor-background;
  padding: $anchor-padding;

  &:hover, &:focus {
    background: $anchor-background-hover;
  }

  &:active {
    @include transition($anchor-transition-active);
    color: $anchor-color-active;
    background: $anchor-background-active;
  }

  &:not([href]) {
    pointer-events: none;
  }
}

.top-bar{
  a {
    background: transparent;
  }

  // Top bar tweaks
  @media #{$medium-up} {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .title-area li:first-child a {
      padding-left: 0;
    }

    .top-bar-section li:last-child {
      margin-right: -0.75rem;
    }
  }
}

p {
  text-align: justify;
}

figure {
  display: block;
  margin: 0;
}

figure img {
  display: block;
}

.list-inline-centered {
  display: table;
  table-layout: fixed;
  width: 100%;

  > * {
    display: table-cell;
    text-align: center;
    width: 100%;
  }
}

.title {
  margin-top: rem-calc($line-height);
  margin-bottom: rem-calc(2 * $line-height);

  .icon {
    width: 64px;
    margin: 0 auto rem-calc($line-height / 2);
  }
}

.timeline-body p {
  text-align: left;
}

#assets {
  display: none;
}

.navbar {
  a {
    white-space: nowrap;
    .icon {
      display: inline-block;
      margin-right: 0.5em;
      position: relative;
      top: .4em;
      height: 20px;
    }
  }

  .title-area {
    a {
      .icon {
        top: .3em;
      }
    }
  }
}

svg {
  fill: currentColor;
  display: block;
}

.schema {
  display: none;
}


.videogular-container {
  position: fixed;
  bottom: 0;
  top: auto;
  right: 0;
  left: 0;
  height: 50px;
  z-index: 10;

  button {
    margin-bottom: 0;
  }
}

videogular vg-play-pause-button.replay .play:before,
[videogular] vg-play-pause-button.replay .play:before {
  content: '\e009';
}
