<form ng-controller="NewsletterController" ng-submit="onSubmit()">

  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">

      <div>
        <h2>Newsletter</h2>
      </div>

      <label ng-if="!done">
        Entrez votre adresse email pour vous inscrire:

        <div class="row collapse">
          <div class="small-9 columns">
            <input name="email" type="email" required ng-model="email" ng-disabled="loading">
          </div>
          <div class="small-3 columns">
            <button class="button postfix" ng-disabled="loading">
              <span ng-if="!loading">S'inscrire</span>
              <i ng-if="loading" class="fa fa-spinner fa-pulse"></i>
            </button>
          </div>
          <small class="error" ng-if="error">Une erreur s'est produite, veuillez recommencer ultérieurement</small>
        </div>
      </label>

      <div ng-if="done" data-alert class="alert-box success radius">
        Votre adresse a été enregistrée.
        <a href="#" class="close" ng-click="done = false">&times;</a>
      </div>

    </div>
  </div>
</form>
