[player-view] {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  z-index: 1;

  .if-player {
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(100%);
    background: $primary-color;
    color: $body-bg;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;

    &[data-visible] {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 400ms ease-out,
        transform 200ms ease-out;
    }

    .progress {
      border: 0;
      background: darken($oil, 10%);
      cursor: pointer;
      margin: 0;
      padding: 0;
      // position: absolute;
      // bottom: 0;
      // right: 0;
      // left: 0;
      height: rem-calc(12);

      .meter {
        background: transparentize(darken(rgb(255, 42, 0), 30%), 0.5);
        border-right: 1px solid darken(rgb(255, 42, 0), 10%);
      }
    }

    img {
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      top: -3px;
    }

    button {
      padding: rem-calc(10);
      margin: 0 rem-calc(5);
      width: rem-calc(40);

      &:focus {
        outline: none;
        box-shadow: 0 0 5px 2px transparentize(darken(rgb(255, 42, 0), 30%), 0.2);
      }
    }

    .if-track-label {
    }

    .if-track-time {
      padding: 0 1em;
    }

    .if-track-currenttime {
      width: 3.5em;
      display: inline-block;
      margin-left: 1em;
    }
  }

  // Responsive design

  @media #{$small-up} {
    .if-album-cover,
    .if-track-album,
    .if-track-duration {
      display: none;
    }
  }

  @media #{$medium-up} {
    .if-album-cover,
    .if-track-album,
    .if-track-duration {
      display: inline-block;
    }
  }
}
