[player-view] {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  z-index: 1;

  .if-player {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(100%);
    background: $primary-color;
    color: $body-bg;
    vertical-align: middle;
    height: 100%;

    &[data-playing] {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 400ms ease-out,
        transform 200ms ease-out;
    }

    .progress {
      border: 0;
      background: $oil;
      margin: 0;
      padding: 0;
      height: rem-calc(12);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      .meter {
        background: transparentize(darken(rgb(255, 42, 0), 40%), 0.7);
        border-right: 1px solid darken(rgb(255, 42, 0), 30%);
      }
    }

    img {
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      top: -3px;
    }

    button {
      padding: rem-calc(10) rem-calc(15);
      margin: rem-calc(5) rem-calc(5);
    }

  }
}
