<div class="unavailable">
  <div class="row">
    <div class="small-10 small-offset-1 columns text-center">
      <figure>
        <img src="/assets/images/iconsfall-logo.jpg" alt="Icon's Fall logo"/>
        <figcaption>Bientôt disponible...</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 columns text-center">
      <p>
        En attendant, retrouvez-nous sur Facebook :
      </p>
      <a href="https://www.facebook.com/iconsfall">
        <img src="/assets/images/fi-social-facebook.svg" alt="Icon's Fall logo"/>
      </a>
    </div>
  </div>
</div>
