<nav class="top-bar" ng-controller="NavbarCtrl">

  <ul class="title-area">
    <li class="name">
      <h1><a ng-href="#/">Icon's Fall</a></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li ng-class="{ active: about }"><a ng-href="#/about">Bio</a></li>
      <li ng-class="{ active: music }"><a ng-href="#/music">Musique</a></li>
      <li ng-class="{ active: calendar }"><a ng-href="#/calendar">Agenda</a></li>
    </ul>
  </section>

</nav>
