@import "../common/settings";

.calendar {

  a {
    display: block;
  }

  .timeline {
    li {
      .timeline-badge {
        background: #333;
        color: white;

        a {
          padding: 0;
        }
      }

      .timeline-panel {

        .calendar-title {
          a {
            padding: 0.2rem 0.5rem;
          }
        }

        .calendar-time {
          padding: 0 0.5rem;

          .calendar-done {
            display: block;
            color: $alert-color;
          }
        }

        .calendar-location {
          a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0.2rem 0.5rem;

            .fa {
              display: inline-block;
              margin-bottom: 0;
            }
          }
        }
      }

      &[data-done] {

        .timeline-badge {
          background: white;
          color: #CCC;

          a {
            opacity: 0.5;
          }
        }

        .timeline-panel {
          opacity: 0.5;
        }
      }
    }
  }

}
