@import '../styles/mixins/ellipsis';

.if-calendar {

  timeline-event {

    li timeline-badge {
      background: $body-bg;
      box-shadow: none;

      .if-anchor {
        display: block;
        padding: 0;
      }
    }

    .if-timeline-title {
      @include ellipsis();
    }

    .if-calendar-time {
      display: block;
      margin-bottom: rem-calc(16);
      margin-top: rem-calc(16);
      padding: 0 0.5rem;
      font-size: rem-calc(16);

      > * {
        display: block;
      }

      .if-calendar-done {
        color: $alert-color;
      }
    }

    .if-calendar-location {
      a {
        @include ellipsis();
        font-size: rem-calc(16);
      }
    }

    &[data-done] {
      opacity: 0.5;

      timeline-badge {
        color: #CCC;

        a {
          opacity: 0.5;
        }
      }

      .timeline-panel {
        opacity: 0.5;
      }
    }

  }

}
