@import "../common/settings";

.home {

  height: 100%;

  a {
    display: block;
    font-family: $font-family-sans-serif;
    margin-bottom: rem-calc($line-height);

    .icon {
      display: block;
      margin: 0 auto rem-calc($line-height / 2);
      width: 32px;
    }
  }

  img {
    margin: 3rem auto;
    width: 300px;
    height: 100%;
    max-width: 100%;
  }

}
