@import "../common/settings";

.home {
  a {
    display: block;
    font-family: $font-family-sans-serif;

    > .fa {
      display: block;
      font-size: rem-calc(30);
      margin-bottom: rem-calc($line-height / 2);
    }
  }
}
