<section class="if-music row">

  <h1 class="if-title small-12 columns text-center">
    <svg viewBox="0 0 200 200" class="if-icon"><use xlink:href="#music"></use></svg>
    Musique
  </h1>

  <span class="if-hidden" itemprop="genre">Electronica</span>

  <div ng-repeat="album in albums" itemprop="album" itemscope itemtype="http://schema.org/MusicAlbum">
    <span class="if-hidden" itemprop="numTracks">{{album.tracks.length}}</span>
    <span class="if-hidden" itemprop="albumReleaseType">{{album.type}}</span>

    <h2 class="small-12 columns">{{album.title}}</h2>

    <figure class="if-music-album-cover no-bullet small-12 medium-6 columns">
      <img ng-src="{{album.cover}}" alt="{{album.title}} cover" itemprop="image" width="500" height="500">
    </figure>

    <ul class="no-bullet small-12 medium-offset-1 medium-5 columns">

      <li class="if-music-track clearfix" ng-repeat="track in album.tracks"
          itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
        <button class="if-button inverted left" ng-click="play(album, $index)"><i class="fa fa-play"></i></button>
        <h5 class="if-music-track-title">{{track.track}}. <span itemprop="name">{{track.title}}</span></h5>
      </li>
    </ul>

  </div>

</section>
