<section class="music row">

  <h1 class="title small-12 columns text-center">
    <svg viewBox="0 0 200 200" class="icon"><use xlink:href="#music"></use></svg>
    Musique
  </h1>

  <div ng-repeat="album in albums">

    <h2 class="small-12 columns">{{album.title}}</h2>

    <figure class="music-album-cover no-bullet small-12 medium-6 columns">
      <img ng-src="{{album.cover}}" alt="{{album.title}} cover">
    </figure>

    <ul class="no-bullet small-12 medium-6 columns">

      <li class="music-track row" ng-repeat="track in album.tracks"
          itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
        <h4 class="small-12 columns">0{{$index + 1}}. <span itemprop="name">{{track.title}}</span></h4>
        <div class="small-12 columns">
          <audio controls preload="metadata" itemprop="audio"
            data-album="{{album.title}}"
            data-track="0{{$index + 1}}"
            data-title="{{track.title}}"
          >
            <source type="audio/mp3" ng-src="{{track.url}}">
            Your browser does not support HTML5 Audio :'(
          </audio>
        </div>
      </li>
    </ul>

  </div>

</section>
